* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
}

.konto-area{
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    border-radius: 24px;
    background: #c2d2f2;
   
}

.right{
    width: 50%;
  
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50%;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



  .input-row {
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

input {
    width: 220px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


